.mainContent{
    background-color: white;
}
.topDetailsRow{
    height: 120px;
    display: inline;
}
.tblWrapperRow{
    min-height: 200px;
}

.table-wrapper{
    min-height: 265px;
}

.table-wrapper .tableDetails{
    padding: 20px;
}
.item-container{
    /* background-color: red; */
    /* overflow-x: scroll; */
    /* max-height: 5vh; */
    overflow-x: auto !important;
    overflow-y: hidden;
    white-space: nowrap !important;
    /* width: 100vw; */
    width: 1000px;
    /* background-color: blue;  */
    height: 150px;
    /* display: flex; */
    /* position: relative; */
}
