/* .item-card{
    background-color: #515A5A;
    margin: 10px 5px 10px 5px;
    padding: 0;
    display: inline-block !important;
    width: 250px;
    height:100px; 

} */
.item-card{
    height:100px;
    background-color:#515A5A;
    margin:10px 5px 10px 15px;
    padding:0;
    width: 230px;
    display: inline-block;
}
.card-body{
    padding-right: 2px;
}
.card-text{
    color: white;
    font-weight: 600;
    font-size: 10px;
    display: block;
    margin-right: 10px;
}
.status-text{
    color: white;
    font-weight: 600;
    font-size: 8px;
    display: block;
    margin-top: 50%;
}