.item-card{
     /* height: 100px !important ;
    width: 300px !important; */
    background-color: #515A5A;
    margin: 10px 5px 10px 5px;
    padding: 0;
    display: inline-block !important;
    width: 250px;
    height:100px; 

}
